PORT=3000
PUBLIC_ORIGIN=https://ssh.example.com
SSH_HOST=127.0.0.1
SSH_PORT=2222
SSH_USER=remote-user
SSH_KNOWN_HOSTS=/etc/open-webssh/known_hosts
ALLOWLIST_FILE=/etc/open-webssh/allowed_fingerprints
MAX_CONNECTIONS=4
TARGET_LABEL=Remote
GATEWAY_LABEL=Gateway
TMUX_SESSION=main
VITE_WEBSSH_APP_NAME=Open WebSSH
VITE_WEBSSH_TARGET_LABEL=Remote
VITE_WEBSSH_GATEWAY_LABEL=Gateway
VITE_WEBSSH_TMUX_SESSION=main
